div(style="margin:0 auto;width:600px;text-align:center")
  h1= title
  p(style="text-align:left;line-height:1.5em") 
    | 生成规则
    b /宽x高/前景色x背景色/图片上的文字
    | 示例 
    br
    a(href="/400x300") 宽400高300的图 /400x300/fffx000
    br
    a(href="/400x300/fffx000") 宽400高300的图 黑色图，白色字 /400x300/fffx000
    br
    a(href="/400x300/fffx000/我是文字") 宽400高300的图 黑色图，白色字 /400x300/fffx000/我是文字